spring:
  application:
    name: payment-service

  config:
    import: optional:configserver:http://localhost:8888

  security:
    oauth2:
      resourceserver:
        jwt:
          public-key-location: classpath:publickey.pem
