spring:
  application:
    name: auth-server

  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=ecommerce_auth;encrypt=true;trustServerCertificate=true;
    username: sa
    password: hblj9_161299
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    test-while-idle: true
    validation-query: SELECT 1

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

  session:
    store-type: redis

  redis:
    host:
      port: 6379

server:
