spring:
  application:
    name: auth-server

  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=ecommerce_auth;encrypt=true;trustServerCertificate=true;
    username: sa
    password: hblj9_161299
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    test-while-idle: true
    validation-query: SELECT 1

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

server:
  port: 8004

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}
