spring:
  application:
    name: ecommerce-service

  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=ecommerce_service;encrypt=true;trustServerCertificate=true;
    username: sa
    password: hblj9_161299
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    test-while-idle: true
    validation-query: SELECT 1

  security:
    oauth2:
      resourceserver:
        jwt:
          public-key-location: classpath:publickey.pem

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping: orderConfirmation:org.ecommerce.ecommerce_service.dto.OrderConfirmation

server:
  port: 8001

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}

---
spring:
  config:
    activate:
      on-profile: inst1
server:
  port: 8090

---
spring:
  config:
    activate:
      on-profile: inst2
server:
  port: 8091
