spring:
  application:
    name: notification-service

  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: orderGroup
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: 'org.ecommerce.notificationservice.kafka.order'
        spring.json.value.default.type: org.ecommerce.notificationservice.kafka.order.OrderConfirmation
        spring.json.type.mapping: orderConfirmation:org.ecommerce.notificationservice.kafka.order.OrderConfirmation
  mail:
    host: localhost
    port: 1025
    username: ahmed
    password: ahmed
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enabled: true
          trust: '*'
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=notification_service;encrypt=true;trustServerCertificate=true
    username: sa
    password: hblj9_161299
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    hostname: localhost
    ip-address: 127.0.0.1

server:
  port: 8007
